# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Coverage
*.out
coverage.*

# Go workspace
go.work
go.work.sum

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project binary
go-procgen